<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompraSemanal.Configuracion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CompraSemanal.Configuracion>
            <setting name="Servidor" serializeAs="String">
                <value>paco2015.ddns.net</value>
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value>3308</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>administrador$</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>fesopo1808$0</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>pryca</value>
            </setting>
        </CompraSemanal.Configuracion>
    </applicationSettings>
</configuration>